﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Movies // Boaz Bibas</title>
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="images/favicon.ico">
</head>
<body>
    <div class="body-content">
        <header class="text-right">
            <div class="stripe"></div>
            <div class="logo">
                <a href="https://www.psagot.co.il/" title="פסגות"><img src="images/brand.png" alt="פסגות" /></a>
            </div>
        </header>

        <div class="container">
            <div ng-app="movieSearch" ng-controller="searchController" class="movie-search" ng-cloak>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <form class="navbar-form" role="search" name="searchForm" ng-submit="searchMovies(searchForm)">
                            <div class="input-group add-on">
                                <input class="form-control" placeholder="Search Movies" autocomplete="off" name="searchTerm" ng-model="searchTerm" type="text" ng-minlength="2">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit" ng-disabled="searchTerm == ''"><img src="images/oval.svg" class="img-loading" ng-show="loading" alt=""><i class="glyphicon glyphicon-search" ng-hide="loading"></i></button>
                                </div>
                            </div>
                            <div ng-if="searchForm.$submitted && !searchForm.searchTerm.$valid" class="has-error">Search term must be at least 2 characters long</div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 results" ng-if="showResults">
                        <ul>
                            <li ng-repeat="movie in movies">
                                <div class="movie-header">
                                    <span ng-bind-html="movie.Title | highlight:searchTerm"></span>
                                </div>
                                <div class="movie-img">
                                    <img ng-if="movie.ImgUrl !== ''" ng-src="{{movie.ImgUrl}}" alt="{{movie.Title}}" />
									<img ng-if="movie.ImgUrl === ''" src="images/default.jpg" alt="{{movie.Title}}" />
                                </div>
								<div class="movie-info">
                                    <div>Popularity: {{movie.Popularity}}</div>
									<div>Release Date: <span ng-if="movie.ReleaseDate !== ''">{{movie.ReleaseDate}}</span><span ng-if="movie.ReleaseDate === ''">Unknown</span></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12" ng-if="showResults && movies.length==0 && !loading">
                        No results found.
                    </div>
                </div>
            </div>
        </div>
        <footer>
            Boaz Bibas | 054-228-2805 | boaz.bibas@gmail.com
        </footer>
    </div>
	
	<script>
	/*** SET API URL HERE ***********************************************/
	(function (w) {
	  w.__env = w.__env || {};
	  w.__env.apiUrl = 'http://localhost:58998/'
	}(this));
	</script>
    <script src="js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/movies/module.js"></script>
    <script src="js/movies/controller.js"></script>
    <script src="js/movies/services.js"></script>
</body>
</html>