﻿html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

body {
    background-color: #edefed;
    font-family: 'Calibri';
    font-size: 150%;
    position: relative;
    margin: 0;
    padding-bottom: 5rem;
    min-height: 100%;
}

header .stripe {
    background-color: #fff;
    height: 20px;
}

header .logo {
    background-color: #213F99;
    padding: 5px 10px;
}

footer {
    color: #fff;
    background-color: #213F99;
    padding:10px 0;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.movie-search .img-loading {
    width:14px;
    height:15px;
    vertical-align: text-top;
}

.movie-search .btn-default,
.movie-search .btn-default:hover {
    background-color: #193A89;
    border-color: #193A89;
    color:#fff;
}

.movie-search .results ul {
    list-style-type: none;
    padding:0;
    text-align: center;
	display: -ms-flex;
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
	display: flex;
	flex-flow: row wrap;
}

.movie-search .results li {
    display: inline-block;
    border: solid 1px #ccc;
    border-radius: 0 18px 18px 18px;
    width: 48%;
    max-width:220px;
    margin: 1% 1% 1% 1%;
    -webkit-box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.2);
    background-color: #fff;
    text-align:left;
    vertical-align:top;
	position: relative;
}

@media screen and (max-width:768px) and (orientation:landscape) { 
    .movie-search .results li {
        width: 31%;
    }
}

    .movie-search .results li img {
        width: 100%;
        border-radius: 0 12px 12px 12px;
    }    

    .movie-search .results li i {
        float: right;
        font-size: 150%;
        padding: 5px;
        color:#EF3125;
        cursor:pointer;
    }

    .movie-search .results li .movie-header {
        padding-left: 10px;
    }
	
	.movie-search .results li .movie-header .highlighted {
        background-color: yellow;
    }
	
	.movie-search .results li .movie-info {
		padding: 10px;
		line-height: 1em;
		position: absolute;
		left: 0;
		bottom: 0;
		background-color:rgba(0,0,0,0.6);
		width:100%;
		border-radius: 0 0 12px 12px;
		color: #fff;
		font-weight:bold;
	}

    .movie-search .results li .movie-img {
        padding: 3px 10px 16px 10px;
    }

    .movie-search .results li .movie-header span {
        display: inline-block;
        margin-top: 6px;
        font-weight: bold;
        text-transform: capitalize;
        line-height: 1.1em;
    }
